{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style href="homepage/static/homepage/CSS/style.css"></style>
    <title>AMANYA TECH</title>
</head>
<body>
    <header>
        <div class="header">
            <p>Home</p>
            <p>About</p>
            <p>Projects</p>
            <button>Reach out</button>
        </div>
    </header>

    <!--HOMEPAGE-->
    <section class="homepage">
        <div class="socials">
            <span>X</span>
            <span>Instagram</span>
            <span>LinkdeIn</span>
            <span>WhatsApp</span>
        </div>
        <div>
            <h1>Albert Buluma</h1>
            <p>I am what you get when you mix love for computers and  love for Math.
                A combined knowledge of statistics and the python languge makes me 
                the sharpest tool for hire, to cut down your business lossess.
            </p>
            <button class="hire_me">Hire me</button>
        </div>
    </section>

    <!--SERVICES-->
    <section class="services">
        <div class="services">
            <h2>What I can do for you</h2>
            <div class="skillset">
                <div class="skill">Data Analytics</div>
                <div class="skill">Data Engineering</div>
                <div class="skill">Machine Learning</div>
                <div class="skill">Web Development</div>
            </div>
        </div>
    </section>

    <!--PROJECTS-->
    <section class="Projects">
        <h2>My latest works</h2>
        <div class="project">Project 1</div>
        <div class="project">Project 2</div>
        <div class="project">Project 3</div>
        <div class="project">Project 4</div>
        <button class="github">All works</button>
    </section>
    <section class="about-me">
        <div>
            <img src="" alt="picture of me">
        </div>
        <div class="self-glaze">
            <h2>About me</h2>
            <p>I like to think of myself as good humored, but a stickler for respecting boundaries.
                My other intrest include Art, which you can find on my threads account(yes threads users exist)
                This should inform my knack for creativity and I tend to notice and appreciate that in others.
                Despite being African, I like to keep time, I hate when others dont.
            </p>
        </div>
    </section>

    <!--CONTACT ME-->
    <section class="contact-me">
        <h2>Send me a message</h2>
        <div class="contact-form">
            <input type="text">
            <input type="text">
            <input type="text">
            <button type="submit">Send message</button>
        </div>
    </section>
    
    <footer>
        <div>logo</div>
        <p>+254 742 676 203</p>
        <p>socials</p>
    </footer>
    
</body>
</html>